---
import Container from "@components/container.astro";
import { Picture } from "astro:assets";
import abm from "assets/abm.png";
import boring from "assets/boring.png";
import doceo from "assets/doceo.png";
import gallivan from "assets/gallivan.png";
import kelley from "assets/kelley.png";
import knight from "assets/knight.png";
import laserfax from "assets/laserfax.png";
import mca from "assets/mca.png";
import msi from "assets/msi.png";
import pbs from "assets/pbs.png";
import standley from "assets/standley.png";
import ubs from "assets/ubs.png";
import Layout from "@layouts/Layout.astro";
---

<Layout title="clients">
  <Container>
    <div class="mt-18">
        <h2 class="px-4 lg:px-36 mt-10 font-bold text-2xl text-gray-800 text-center">Infinite Limit | Business Services Client List</h2>
        <h2 class="px-4 lg:px-36 font-bold text-2xl text-gray-800 text-center">ConnectWise to eAutomate Integration</h2>
        <h2 class="px-4 lg:px-36 pb-6 font-bold text-2xl text-gray-800 text-center">Utilizing CEO Juice Syncs</h2>
        <div class="grid md:grid-cols-4 gap-20 mx-auto max-w-6xl mt-12 items-center">
            <Picture
            src={laserfax}
            alt={"Paul O'Flaherty"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center"
            />
            <Picture
            src={standley}
            alt={"Paul O'Flaherty"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center"
            />
            <Picture
            src={ubs}
            alt={"Paul O'Flaherty"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center"
            />
            <Picture
            src={gallivan}
            alt={"Paul O'Flaherty"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center"
            />
            <Picture
            src={kelley}
            alt={"Paul O'Flaherty"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center"
            />
            <Picture
            src={mca}
            alt={"Paul O'Flaherty"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center"
            />
            <Picture
            src={msi}
            alt={"Paul O'Flaherty"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center"
            />
            <Picture
            src={pbs}
            alt={"Paul O'Flaherty"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center"
            />
            <Picture
            src={abm}
            alt={"Paul O'Flaherty"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center"
            />
            <Picture
            src={knight}
            alt={"Paul O'Flaherty"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center"
            />
            <Picture
            src={doceo}
            alt={"Paul O'Flaherty"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center"
            />
            <Picture
            src={boring}
            alt={"Paul O'Flaherty"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center"
            />
        </div>
    </div>
  </Container>
</Layout>