---
import Container from "@components/container.astro";
import { Picture } from "astro:assets";
import abm from "../assets/abm.png";
import boring from "../assets/boring.png";
import doceo from "../assets/doceo.png";
import gallivan from "../assets/gallivan.png";
import kelley from "../assets/kelley.png";
import knight from "../assets/knight.png";
import laserfax from "../assets/laserfax.png";
import mca from "../assets/mca.png";
import msi from "../assets/msi.png";
import pbs from "../assets/pbs.png";
import standley from "../assets/standley.png";
import ubs from "../assets/ubs.png";
import Layout from "@layouts/Layout.astro";
---

<Layout title="clients">
  <Container>
    <div class="mt-18">
        <h2 class="px-4 lg:px-36 mt-10 font-bold text-2xl text-gray-800 text-center">Infinite Limit | Business Services Client List</h2>
        <h2 class="px-4 lg:px-36 font-bold text-2xl text-gray-800 text-center">ConnectWise to eAutomate Integration</h2>
        <h2 class="px-4 lg:px-36 pb-6 font-bold text-2xl text-gray-800 text-center">Utilizing CEO Juice Syncs</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-20 mx-auto max-w-6xl mt-12 items-center">
            <Picture
            src={laserfax}
            alt={"laserfax"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={333}
            height={94}
            class="w-full max-w-full rounded-md rounded bg-white object-contain object-cente accelerate"
            />
            <Picture
            src={standley}
            alt={"standley"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={269}
            height={149}
            class="w-full max-w-full rounded-md rounded bg-white object-contain object-center accelerate"
            />
            <Picture
            src={ubs}
            alt={"ubs"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={284}
            height={146}
            class="w-full max-w-full rounded-md rounded bg-white object-contain object-center accelerate"
            />
            <Picture
            src={gallivan}
            alt={"gallivan"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={239}
            height={72}
            class="w-full max-w-full rounded-md rounded bg-white object-contain object-center accelerate"
            />
            <Picture
            src={kelley}
            alt={"kelley"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={210}
            height={60}
            class="w-full max-w-full rounded-md rounded bg-white object-contain object-center accelerate"
            />
            <Picture
            src={mca}
            alt={"mca"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={318}
            height={151}
            class="w-full max-w-full rounded-md rounded bg-white object-contain object-center accelerate"
            />
            <Picture
            src={msi}
            alt={"msi"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={186}
            height={94}
            class="w-full max-w-full rounded-md rounded bg-white object-contain object-center accelerate"
            />
            <Picture
            src={pbs}
            alt={"pbs"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={276}
            height={120}
            class="w-full max-w-full rounded-md rounded bg-white object-contain object-center accelerate"
            />
            <Picture
            src={abm}
            alt={"abm"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={228}
            height={134}
            class="w-full max-w-full rounded-md rounded bg-white object-contain object-center accelerate"
            />
            <Picture
            src={knight}
            alt={"knight"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={256}
            height={106}
            class="w-full max-w-full rounded-md rounded bg-white object-contain object-center accelerate"
            />
            <Picture
            src={doceo}
            alt={"doceo"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={276}
            height={70}
            class="w-full max-w-full rounded-md rounded bg-white object-contain object-center accelerate"
            />
            <Picture
            src={boring}
            alt={"boring"}
            sizes="(max-width: 800px) 100vw, 400px"
            width={256}
            height={256}
            class="w-full max-w-full rounded-md rounded bg-white object-contain object-center accelerate"
            />
        </div>
    </div>
  </Container>
</Layout>